{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}



<div class="other-activities">
    <div class="primary-activity">
        <h3 class="title">D’autres activités qui pourrait vous plaire :</h3>
        <div class="card-conte">
            <div></div>
            <div class="card-title">
            <h3>Conte et fantaisie</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Volutpat faucibus egestas mattis eu a rhoncus diam ligula tortor.</p>
            </div>
        </div>
    </div>
    <div class="little-activities">

        <div class="musique">
            <div class="little-title-card">
            <p>Musica</p>
            <p>Voir plus &#x25B6</p>
            </div>
        </div>

        <div class="theatre">
            <div class="little-title-card">
            <p>Théatre</p>
            <p>Voir plus &#x25B6</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}