{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <div {{ react_component('hw', { 'fullName': fullName }) }}></div>
    {{ render_chart(chart) }}

{% endblock %}
